topic:
  name: users
  partitions-num: 3
  replication-factor: 1
server:
  port: 9080
spring:
  kafka:
    bootstrap-servers:
      - <external Kafka loadbalancerIP>:29092
    properties:
      schema.registry.url: http://<external Schema Registry loadbalancerIP>:8081
      ssl.keystore.location: /var/tmp/tls.jks
      ssl.keystore.password: "3T0AWG68Dr9ZMYbW"
      ssl.truststore.location: /var/tmp/tls.jks
      ssl.truststore.password: "3T0AWG68Dr9ZMYbW"
      security.protocol: SSL
      ssl.endpoint.identification.algorithm: ""
    consumer:
      group-id: group_id
      auto-offset-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
    template:
      default-topic:
logging:
  level:
    root: info
