apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  labels:
    controller-tools.k8s.io: "1.0"
  name: kafkaclusters.banzaicloud.banzaicloud.io
spec:
  group: banzaicloud.banzaicloud.io
  names:
    kind: KafkaCluster
    plural: kafkaclusters
  scope: Namespaced
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            brokers:
              format: int32
              type: integer
            image:
              type: string
            restProxyEnabled:
              description: BrokerConfig     string            `json:"brokerConfig"`
                MonitoringConfig MonitoringConfig  `json:"monitoring,omitempty"` ServiceAccount   string            `json:"serviceAccount"`
                StorageSize      string            `json:"storageSize"`
              type: boolean
            zkAddress:
              description: Annotations      map[string]string `json:"annotations"`
                Listeners        Listeners         `json:"listeners"`
              type: string
          required:
          - zkAddress
          - restProxyEnabled
          type: object
        status:
          properties:
            healthybrokers:
              format: int64
              type: integer
          type: object
  version: v1alpha1
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
