version: 2.1

orbs:
    helm: banzaicloud/helm@0.0.8

jobs:
  build:
    docker:
      - image: cimg/go:1.14

    steps:
      - checkout

      - restore_cache:
          name: Restore Go module cache
          keys:
            - gomod-v3-{{ checksum "go.sum" }}
            - gomod-v3

      - run:
          name: Install dependencies
          command: go mod download

      - save_cache:
          name: Save Go module cache
          key: gomod-v3-{{ checksum "go.sum" }}
          paths:
            - /go/pkg/mod

      - run:
          name: Build
          command:
            make generate

      - run:
          name: Run linter
          command: make lint

      - run:
          name: Run unit tests
          command: make test
          when: always

      - save_cache:
          name: Save build dependencies
          key: build-deps-v1-{{ .Branch }}-{{ checksum "Makefile" }}
          paths:
            - bin/

      - store_test_results:
          path: build/
      - store_artifacts:
          path: build/

workflows:
    version: 2
    ci:
        jobs:
            - build

    helm-chart:
        jobs:
            - helm/lint-chart:
                  filters:
                      tags:
                          ignore: /.*/

            - helm/publish-chart:
                  context: helm
                  filters:
                      branches:
                          ignore: /.*/
                      tags:
                          only: /chart\/kafka-operator\/\d+.\d+.\d+/
