apiVersion: kafka.banzaicloud.io/v1alpha1
kind: KafkaUser
metadata:
  name: {{or .Name "test-user"}}
  namespace: {{or .Namespace "kafka" }}
spec:
  clusterRef:
    name: kafka
  {{ with .TLSSecretName }}
  secretName: {{ . }}
  {{ end }}
